<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Dirty Politics">
	<meta name="author" content="Manoj Hebbani">

	<title>Dirty Politics</title>

	<!-- Bootstrap CSS file -->
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-theme.min.css" />
	<link rel="stylesheet" type="text/css" href="css/blog.css" />

</head>

<body>

{{> header }}

<div class="clear-fix"></div>
	<!-- Body -->
	<div class="container">
		<div class="row">
			<div class="col-md-8">

				<h1>Latest Posts</h1>

      <?php
				if(count( $Posts ) > 0){
        foreach($Posts as $Post){
      ?>
				<article>
					<h2><a href="<?= base_url().'index.php/post/'.$Post['IdPost'] ?>"><?= $Post['PostName']; ?></a></h2>

			        <div class="row">
			          	<div class="col-sm-5 col-md-5">
			          		<span></span> &nbsp;<a href="javascript:void">By <?= $Post['PostedBy']; ?></a>
			          	</div>
			          	<div class="col-sm-7 col-md-7">
										<span class="glyphicon glyphicon-eye-open"></span> <a href="#comments"><?= $Post['PostViews'] ?> Views</a>
			          		&nbsp;&nbsp;<span class="glyphicon glyphicon-pencil"></span> <a href="<?= base_url().'index.php/post/'.$Post['IdPost'].'#comments' ?>"><?= $Post['CommentsCount']; ?> Comments</a>
			          		&nbsp;&nbsp;<span class="glyphicon glyphicon-time"></span> <?= date("F j, Y, g:i a", strtotime ($Post['PostedDate'])) ?>
			          	</div>
			          </div>

			          <hr>

								<p class="lead"><?= $Post['PostDescription']; ?></p>

								<br />

			          <img src="images/dplogo1.png" class="img-responsive" style="width:100%">


			          <p><?= $Post['PostContent']; ?></p>

					  <p class="text-right">
				          <a href="<?= base_url().'index.php/post/'.$Post['IdPost'] ?>">
				          	continue reading...
				          </a>
				      </p>

			          <hr>
				</article>

        <?php
						}
					}else{
				?>
					<article>
						<h2> No posts available. <a href="<?php base_url(); ?>" >Click Here</a> for main page.  </h2>
					</article>
				<?php } ?>
				<ul class="pager">
					<li class="previous"><a href="javascript:void">&larr; Previous</a></li>
				<?php
					if(count( $Posts ) > 0){
				?>
					<li class="next"><a href="javascript:void">Next &rarr;</a></li>
				<?php } ?>
				</ul>

			</div>
			<div class="col-md-4">

     	<div style="height:100%;width:100%;margin-bottom:20px;margin-top:-50px;">
              <img src="images/dplogo1.png" style="height:100%;width:100%;" class="img-responsive">
      </div>

				<!-- Latest Posts -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>Latest Posts</h4>
					</div>
					<ul class="list-group">
						<?php
						$count = 1;
			        foreach($RecentPosts as $Post){
			      ?>
						<li class="list-group-item"><a href="<?= base_url().'index.php/post/'.$Post['IdPost'] ?>"> <?= $count.". ".$Post['PostName'] ?></a></li>
						<?php $count++;} ?>
					</ul>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>Recent Comments</h4>
					</div>
					<ul class="list-group">
						<?php
			        foreach($RecentComments as $Comment){
			      ?>
						<li class="list-group-item"><a href="<?= base_url().'index.php/post/'.$Comment['IdPost'].'#comments' ?>"><?= $Comment['Comment']; ?> - <em> <?= $Comment['CommenterName']; ?> </em></a></li>
						<?php } ?>
					</ul>
				</div>

			</div>
		</div>
	</div>
	{{> footer }}
	<!-- Jquery and Bootstrap Script files -->
	<script src="js/jquery-2.0.3.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script>
  var pagename = '<?= $Page; ?>';
  </script>
	<script src="js/posts.js"></script>
</body>
</html>
